.daily-deals-section {

  &__empty-space {
    height: 314px;
  }

  &__background {
    height: 408px;
    background-color: rgb(234,234,234);
  }

  &__wrapper {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  &__text-box {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding-top: 70px;
    padding-left: 136px;
  }

  &__header {
    font-family: FuturaDemiC, sans-serif;
    font-size: 32px;
    line-height: 0.98;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
    margin-left: -2px;
  }

  &__description {
    font-family: FuturaBookC, sans-serif;
    font-size: 20px;
    line-height: 1.31;
    margin-left: -1px;
    color: black;
  }

  &__mobile1,
  &__mobile2 {
    position: absolute;
  }

  &__mobile1 {
    right: 313px;
    bottom: 0;
  }

  &__mobile2 {
    right: 47px;
    bottom: 52px;
  }
}

@media (max-width: 1250px) {
  .daily-deals-section {
    &__mobile1,
    &__mobile2 {
      transform: scale(0.6);
    }

    &__mobile1 {
      right: 172px;
    }

    &__mobile2 {
      right: -3px;
    }
  }
}

@media (max-width: 1075px) {
  .daily-deals-section {
    &__mobile1,
    &__mobile2 {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .daily-deals-section {
    height: fit-content;

    &__background {
      height: fit-content;
      background-color: white;
    }

    &__text-box {
      width: 100%;
      padding: 30px 56px;
      display: flex;
      align-items: center;
      gap: 28px;
    }

    &__header {
      font-size: 36px;
      padding-left: 17px;
    }

    &__description {
      font-size: 32px;
      text-align: center;
      letter-spacing: 0.026em;
      line-height: 1.2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;

      &__second-paragraph {
        width: 90%;
      }
    }

    &__empty-space,
    &__mobile1,
    &__mobile2 {
      display: none;
    }
  }
}

@media (max-width: 580px) {
  .daily-deals-section {

    &__header {
      font-size: 28px;
    }

    &__text-box {
      padding: 30px 12px;
    }

    &__description {
      font-size: 20px;

      &__second-paragraph {
        width: 100%;
      }
    }
  }
}